%button {
  border: none;
  border-radius: $base-border-radius;
  -webkit-font-smoothing: antialiased;
  font-size: $base-font-size;
  font-weight: bold;
  line-height: 1em;
  padding: .5em 1em;
}

%button.secondary {
  @extend %button;
  background-color: $light-yellow;

  &:hover {
    background-color: $light-yellow;
  }
}
