// Typography
@import url(http://fonts.googleapis.com/css?family=Lusitana:400,700);
@import url(http://fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic);
@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:300,400,800,300italic,400italic,700italic,800italic);

$serif: 'Merriweather', serif;
$serif-2: 'Merriweather', serif;
$sans-serif: 'Merriweather Sans', sans-serif;

$base-font-family: $serif;
$header-font-family: $sans-serif;

// Sizes
$base-font-size: 1em;
$base-line-height: 1.7;
$base-border-radius: em(3);

// Colors
$blue: #477DCA;
$dark-gray: #333;
$green: #73de6b;
$medium-gray: #999;
$light-gray: #DDD;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;

// Body Color
$base-body-color: white;

// Border color
$base-border-color: $light-gray;

// Button colors
$base-button-color: $blue;

// Flash Colors
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;

// Font Colors
$base-font-color: $dark-gray;
$secondary-font-color: lighten($dark-gray, 25);
$base-accent-color: $blue;

// Text Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);
