// Typography
@import url(http://fonts.googleapis.com/css?family=Lusitana:400,700);
@import url(http://fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic);
@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:300,400,800,300italic,400italic,700italic,800italic);

$serif: 'Merriweather', serif;
$serif-2: 'Merriweather', serif;
$sans-serif: 'Merriweather Sans', sans-serif;

$base-font-family: $serif;
$header-font-family: $sans-serif;

// Sizes
$admin-nav-width: em(200);
$base-font-size: 1em;
$base-line-height: 1.7;
$base-border-radius: em(3);

// Colors
$blue: #55B3ED;
$dark-gray: #333;
$purple: #b630e4;
$medium-gray: #999;
$light-gray: #DDD;
$red: #ED3B3B;
$yellow: #FFF24A;
$green: #A2E05E;

// Body Color
$base-body-color: white;
$hero-background-color: $blue;

// Border color
$base-border-color: $light-gray;

// Button colors
$base-button-color: $blue;

// Flash Colors
$alert-color: $red;
$error-color: $red;
$notice-color: $yellow;
$success-color: $green;

// Font Colors
$base-font-color: $dark-gray;
$secondary-font-color: lighten($dark-gray, 25);
$base-accent-color: $purple;

// Text Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);

// Layout Variables
$base-flash-padding: .5em;
