// Breakpoints
$small-screen: 420px;
$medium-screen: 640px;
$large-screen: 860px;

$medium-screen-up: new-breakpoint(min-width $medium-screen 4);
$large-screen-up: new-breakpoint(min-width $large-screen 8);

// Fonts
$serif: "Merriweather", serif;
$sans-serif: "GothamBlack", sans-serif;

$base-font-family: $serif;
$header-font-family: $sans-serif;
$code-font-family: "Inconsolata", sans-serif;

// Sizes
$admin-nav-width: em(200);
$base-font-size: 1.15rem;
$base-line-height: 1.7;
$base-border-radius: em(3);

// Colors
$blue: #55B3ED;
$dark-gray: #333;
$purple: #b630e4;
$medium-gray: #999;
$light-gray: #DDD;
$red: #ED3B3B;
$yellow: #FFF24A;
$green: #A2E05E;

// Body Color
$base-body-color: white;
$hero-background-color: $blue;

// Border color
$base-border-color: $light-gray;

// Button colors
$base-button-color: $blue;
$primary-button-background-color: $purple;
$primary-button-color: white;

// Flash Colors
$alert-color: $red;
$error-color: $red;
$notice-color: $yellow;
$success-color: $green;

// Font Colors
$base-font-color: $dark-gray;
$secondary-font-color: lighten($dark-gray, 25);
$base-accent-color: $purple;

// Text Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);

// Layout Variables
$base-flash-padding: .5em;
