%main
  %section.hero-wrapper
    .hero-image-wrapper
      = image_tag @instagram, class: 'hero-image'

    .hero-intro
      %object{data: "assets/whoa.svg", type: "image/svg+xml", class: 'logo'}
      .hero-text Design Experiments &amp; Findings
      %form
        %input{type: "text"}

  %section.posts
    %ul
    - @posts.each do |post|
      %li
        %h2.title
          = link_to post.title, post
        = strip_tags(post.body.truncate(50))
