<main>
  <section>
    <header>
      <h1>Whoa</h1>
      <input type="text" placeholder="search" />
    </header>
  </section>

  <section>
    <% @posts.each do |post| %>
      <li><%= link_to post.title, '#' %></li>
    <% end %>
  </section>
</main>
