.button--primary {
  background-color: $primary-button-background-color;
  border-radius: $base-border-radius;
  border: none;
  color: $primary-button-color;
  font-size: $base-font-size;
  padding: 1em 2em;
}
