.button {
  background-color: transparent;
  border-radius: 50px;
  border: solid 2px $base-button-background-color;
  color: $base-button-color;
  display: inline-block;
  font-family: $button-font-family;
  font-size: $base-font-size;
  padding: 0.25rem 2rem;

  &:hover {
    background-color: $base-button-background-color;
    cursor: pointer;
    color: white;
  }

  &:hover,
  &:focus {
    outline: none;
  }
}

.button--hero {
  border: solid 2px $teal;
  border: solid 2px transparent;
  color: white;
  text-transform: uppercase;
  font-family: $header-font-family;

  &:hover,
  &.active {
    background-color: $teal;
    border: solid 2px transparent;
  }
}
