.hero-intro {
  text-align: center;
  width: 300px;
  z-index: 1;

  @include media($medium-screen) {
    min-width: 320px;
    max-width: 480px;
    width: 50%;
  }
}

.hero-text {
  color: white;
  display: inline-block;
  font-family: $serif;
  font-size: $base-font-size;
  font-style: italic;
  letter-spacing: 0.05rem;
  margin: 1rem auto;
  padding: 0.75rem 0;

  @include media($medium-screen){
    font-size: $base-font-size * 1.25;
  }
}

.hero-background {
  @include position(absolute, 0px 0px 0px 0px);
  background-image: image-url("volcano-blurred.jpg");
  background-size: cover;
}

.hero-search {
  @include size(3rem);
  @include transition(all 0.5s ease);
  background-color: rgba(black, 0.2);
  background-image: image-url('magnifying-glass.svg');
  background-position: 1rem 1rem;
  background-repeat: no-repeat;
  background-size: 1rem;
  border-radius: 100px;
  border: none;
  color: rgba(white, 0);
  font-size: 1.25rem;
  margin: 0.25rem auto;
  padding: 1rem;

  &:hover,
  &:focus {
    background-color: rgba(mix(black, $blue, 50%), .5);
    box-shadow: 0 0 1em rgba($purple, 0.4);
    color: white;
    outline: none;
    padding-left: 2.5rem;
    width: 11rem;
  }
}
