.hero-landing {
  @include size(100vw 100vh);
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  background-image: image-url("landscape_in_mist.jpg");
  background-size: cover;
  min-height: 380px;
  overflow: hidden;
  position: relative;
}

.hero-intro {
  @include transition(all 0.25s);
  text-align: center;
  padding: 0 2rem;
  z-index: 1;

  @include media($medium-screen) {
    max-width: 70vw;
    padding: 0;
    width: 50%;
  }
}

.hero-intro__links {
  margin-top: 2.5rem;

  .button + .button {
    margin-left: 1rem;
  }
}
