.hero-intro {
  @include transition(all 0.25s);
  text-align: center;
  padding: 0 2rem;
  z-index: 1;

  @include media($medium-screen) {
    min-width: 320px;
    max-width: 480px;
    padding: 0;
    width: 50%;
  }
}

.hero-background {
  @include position(absolute, 0px 0px 0px 0px);
  background-image: image-url("mountain-sharp.jpg");
  background-size: cover;
}

.hero-intro__links {
  margin-top: 2.5rem;

  .button + .button {
    margin-left: 1rem;
  }
}
