body, html {
  background-color: $base-body-color;
  padding: 0px;
  margin: 0px;
}

.layout {
  @include transition(all .5s ease);
  padding-top: 2rem;

  @include media($large-screen) {
    .expanded & {
      padding-left: $admin-nav-width;
    }
  }
}

.layout--medium {
  margin: 0 auto;
  max-width: $medium-screen;
  padding-left: 1rem;
  padding-right: 1rem;

  .expanded & {
    max-width: $large-screen;
  }
}

.layout--large {
  margin: 0 auto;
  max-width: $large-screen;
  padding: 0 1rem;

  .expanded & {
    max-width: $x-large-screen;
  }
}

.layout__section {
  padding: $base-section-padding;
}
