body, html {
  padding: 0px;
  margin: 0px;
}

.layout {
  @include transition(all .5s ease);

  @include media($large-screen) {
    .expanded & {
      padding-left: $admin-nav-width;
    }
  }

  .expanded &.layout--medium {
    max-width: $large-screen;
  }
}

.layout-hero--cover {
  @include size(100% 100vh);
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  overflow: hidden;
  position: relative;
}

.layout--medium {
  margin: 0 auto;
  max-width: $medium-screen;
  padding: 0 1rem;
}

.layout--large {
  margin: 0 auto;
  max-width: $large-screen;
  padding: 0 1rem;

  .expanded & {
    max-width: $x-large-screen;
  }

  @include media($large-screen) {
    max-width: $large-screen;
  }
}

.layout__section {
  padding: $base-section-padding;
}
