.navigation__drawer {
  @include transition(all .5s ease);
  @include position(fixed, em(0) null em(0) null);
  background: rgba(black, 0.8);
  padding: 5em 1em;
  left: -50%;
  min-width: $admin-nav-width;
  width: 50%;
  z-index: 2;

  &.expanded {
    left: em(0);
  }
}

.navigation__trigger {
  @include transition(all .5s ease);
  @include position(fixed, .5em null null .5em);
  @include size(34px);
  color: rgba(black, 0.5);
  text-align: center;
  z-index: 99;

  i {
    font-size: 34px;
    line-height: 40px;
    vertical-align: middle;
  }

  &:hover {
    color: lighten($base-link-color, 10%);
  }

  &.expanded {
    @include transform(rotate(135deg));
    color: $base-link-color;
  }
}

.navigation__link {
  color: white;
  font-family: $header-font-family;
}
