.navigation__drawer {
  @include transition(all .5s ease);
  @include position(fixed, 0px null 0px -100%);
  box-shadow: 0 2px 1rem rgba(black, 0.125);
  background: $white;
  padding-top: 5em;
  width: 100%;
  z-index: 2;

  @include media($medium-screen){
    left: -$admin-nav-width;
    width: $admin-nav-width;
  }

  ul {
    list-style: none;
  }

  li:first-of-type {
    padding-top: 1rem;
  }

  .expanded & {
    left: 0px;
  }
}

.navigation__trigger {
  @include position(fixed);
  background: $white;
  color: $black;
  font-family: $header-font-family;
  font-size: $base-font-size;
  text-transform: uppercase;
  transition: color 500ms;
  padding: 1rem;
  left: 0px;
  right: 0px;
  z-index: 9;

  @include media($medium-screen) {
    @include position(fixed);
    background: transparent;
    right: auto;
    color: $white;
  }

  &:hover {
    color: $white;
  }

  * {
    vertical-align: middle;
  }

  .menu {
    transition: all 500ms;
    margin-right: 0.5rem;

    .expanded & {
      transform: scale(0);
    }
  }

  .close {
    position: absolute;
    left: 1rem;
    top: 22px;
    transform: scale(0);
    transition: all 500ms;

    .expanded & {
      transform: scale(1);
    }
  }

  path {
    transition: stroke 500ms;
    stroke: $black;

    @include media($medium-screen) {
      stroke: $white;
    }
  }

  .admin &,
  .posts-show &,
  .expanded &,
  &.dark {
    color: $black;

    path {
      stroke: $black;
    }
  }
}

.navigation__link {
  color: black;
  display: inline-block;
  font-family: $header-font-family;
  font-size: $base-font-size;
  text-transform: uppercase;
  width: 100%;
  padding: 1rem;
}

.navigation__link--new-section {
  margin-top: 1rem;
  padding-top: 2rem;
}
