.navigation__drawer {
  @include transition(all .5s ease);
  @include position(fixed, em(0) null em(0) null);
  background: rgba(black, 0.8);
  padding: 5em 1em;
  left: -50%;
  min-width: $admin-nav-width;
  width: 50%;
  z-index: 2;

  &.expanded {
    left: em(0);
  }
}

.navigation__trigger {
  @include position(fixed, .5em null null .5em);
  @include size(2rem);
  @include transition(all 0.5s ease);
  background-color: rgba(black, 0.125);
  border-radius: 100px;
  padding: 0.5rem;
  text-align: center;
  z-index: 99;

  .icon {
    @include transition(all 0.5s ease);
  }
  
  .icon--plus-sign {
    background-size: 0%
  }

  .icon--menu {
    background-size: 1rem;
  }

  &.expanded {
    @include transform(rotate(135deg));

    .icon--menu {
      background-size: 0%
    }

    .icon--plus-sign {
      background-size: 1rem;
    }
  }
}

.navigation__link {
  color: white;
  font-family: $header-font-family;
}
