.posts--list {
  @include transition(padding, 0.5s);
  padding: 0 1rem;
  max-width: $medium-screen;
  margin: 1em auto;

  li {
    list-style-type: none;
    padding: 4em 0;
  }

  li + li {
    border-top: solid 1px $light-gray;
  }

  @include media($small-screen) {
    margin: 4em auto;
  }

  @include media($large-screen) {
    padding: 0;
  }

  .expanded & {
    padding: 0 2rem;
  }
}

.post__read-more {
  text-align: center;
}

.post__image-wrapper {
  text-align: center;
  margin-top: 2rem;

  @include media($small-screen) {
    margin-top: 4rem;
  }
}

.post__image {
  @include transition(height 0.5s, width 0.5s);
  @include size(auto 6rem);

  @include media($small-screen) {
    @include size(auto 16rem);
  }
}

.post__feature-thumbnail {
  @include size(auto 5rem);
  display: block;
  margin: 0 auto;
}

.post__title {
  color: $base-font-color;
  font-family: $sans-serif;
  font-size: 2rem;
  line-height: 1.125;
  margin: 1rem 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.post__title--large {
  @include transition(font-size 0.5s);
  font-size: 3rem;
  margin: 2rem 0;

  @include media($small-screen) {
    font-size: 5rem;
    margin: 2rem 0;
  }
}

.post__byline {
  font-size: $small-font-size;
  text-align: center;

  @include media($large-screen) {
    font-size: $base-font-size;
  }
}

.post__byline__date {
  font-size: $small-font-size;
  color: $medium-gray;
}

.post__body {
  margin: 0 auto;
  max-width: $medium-screen;

  .expanded & {
    max-width: $large-screen;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $serif;
  }

  h2 {
    margin-top: 4rem;
  }

  a {
    color: $base-link-color;
    font-weight: 700;
  }

  pre {
    background: $code-background-color;
    border-radius: 4px;
    font-family: $code-font-family;
    font-size: $base-font-size;
    letter-spacing: -0.0375rem;
    line-height: 1.4;
    margin: ($base-paragraph-margin * 2) 0;
    overflow-x: scroll;
    padding: $base-padding;

    @include media($xx-large-screen) {
      font-size: $base-font-size * 1.15;
    }
  }
}

.post__body--summary {
  padding: 1rem;
}

.post__body--full {
  padding: 0 1rem 6rem;

  @include media($medium-screen) {
    padding: 1rem 1rem 6rem;
  }
}
