.posts--list {
  max-width: $medium-screen;
  margin: 4em auto;

  li {
    list-style-type: none;
    padding: 4em 0;
  }

  li + li {
    border-top: solid 1px $light-gray;
  }
}

.post {
  position: relative;
  max-width: $medium-screen;
  margin: 0 auto;
}

.post__title {
  color: $base-font-color;
  font-family: $sans-serif;
  line-height: 1;
  width: 100%;
}

.post__title--large {
  font-size: 4.5rem;
  letter-spacing: -0.25rem;
}

.post__body {
  padding: 0 1rem;

  @include media($medium-screen){
    padding: 0rem;
  } 

  h1, h2, h3, h4, h5, h6 {
    font-family: $serif;
    font-style: italic;
  }

  code {
    border-radius: 4px;
    font-family: "helvetica";
    font-family: $code-font-family;
    font-size: 1.25rem;
    padding: 1rem;
  }
}
