.posts {
  max-width: $medium-screen;
  margin: 4em auto;

  .title {
    font-family: $serif;
    margin-bottom: .5em;

    a {
      color: black;
    }
  }

  li {
    list-style-type: none;
    padding: 4em 0;
  }

  li + li {
    border-top: solid 1px $light-gray;
  }
}

.post {
  position: relative;
  max-width: $medium-screen;
  margin: 0 auto;

}

.post__title {
  border: none;
  font-family: $serif;
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.15;
  margin: .5em 0;
  overflow: hidden;
  padding: 0em;
  resize: none;
  width: 100%;

  &:focus {
    box-shadow: none;
    outline: none;
  }
}

.post__body,
.froala-box {
  border: none;
  line-height: 2;
  padding: 1em;

  @include media($medium-screen){
    padding: 0em;
  } 

  h1, h2, h3, h4, h5, h6 {
    font-family: $serif;
    font-style: italic;
  }

  pre {
    background: #444;
    border-radius: 4px;
    color: lighten($yellow, 20);
    padding: 2em;
    overflow-x: auto;
    word-break: break-all;
  }
}
