a {
  @include transition(color 0.1s linear);
  color: $base-link-color;
  font-weight: 700;
  text-decoration: none;

  &:hover {
    color: $hover-link-color;
  }

  &:active, &:focus {
    outline: none;
  }
}

body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;

  @include media($xx-large-screen) {
    font-size: $base-font-size * 1.15;
  }
}

abbr,
acronym {
  border-bottom: 1px dotted $base-border-color;
  cursor: help;
}

address {
  display: block;
  margin: 0 0 ($base-line-height / 2);
}

blockquote {
  margin: 3rem 0;
  padding-left: 1rem;
  border-left: solid 0.25rem $light-gray;
  color: lighten($base-font-color, 35%);
}

cite {
  color: lighten($base-font-color, 25);
  font-style: italic;

  &:before {
    content: '\2014 \00A0';
  }
}

code {
  background: $code-background-color;
  border-radius: 4px;
  border: solid 1px darken($code-background-color, 2%);
  color: darken($medium-gray, 15%);
  font-family: $code-font-family;
  padding: $base-padding / 4 $base-padding / 2;
}

del {
  color: lighten($base-font-color, 15);
}

h1,
h2 {
  font-family: $header-font-family;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: optimizeLegibility;
  line-height: 1.3;

  @include media($xx-large-screen) {
    line-height: 1.5;
  }
}

hgroup {
  margin-bottom: $base-line-height / 2;
}

hr {
  border-bottom: 1px solid $base-border-color;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-line-height 0;
}

img {
  margin: 0;
  max-width: 100%;
}

p {
  margin: 0 0 $base-line-height;
  line-height: $base-line-height;
}

pre {
  background: $code-background-color;
  border-radius: 4px;
  overflow-x: scroll;
  padding: $base-padding;

  code {
    border: none;
  }
}

ul {
  margin: 0;
  padding: 0;
}
