.layout-hero--cover
  .hero-intro
    = image_tag "whoa.svg", class: "logo"
    = link_to "words", posts_path, class: "button button--hero"
    = link_to "works", works_path, class: "button button--hero"
  .hero-background
