.edit-post__title-input[type="text"] {
  font-family: $sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
  width: 100%;

  &:focus {
    outline: none;
  }
}

.edit-post__image {
  @include size(5rem);
  border: solid 1px $base-border-color;
  border-radius: 2px;
  cursor: pointer;
  max-height: 100px;

  &:hover {
    box-shadow: 0 0 4px $base-accent-color;
  }
}

.edit-post__body {
  border: none;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  width: 100%;

  @include media($medium-screen) {
    float: left;
    width: 64%;
  }

  &:focus {
    outline: none;
  }
}

.edit-post__meta {
  @include margin(0 null 2rem null);
  border-bottom: solid 1px $base-border-color;
  line-height: 1;
  padding-bottom: 2rem;

  @include media($medium-screen) {
    float: right;
    width: 20%;
    min-width: 200px;
  }

  .input {
    margin-bottom: 2.5rem;
  }

  input[type="file"] {
    display: none;
  }

  label {
    color: $medium-gray;
  }

  select {
    margin-bottom: 0.5rem;
    margin-left: -0.5rem;
  }

  input[type="submit"] {
    margin-top: 2rem;
  }

  @include media($medium-screen) {
    border-bottom: none;
  }
}
