.post {
  @include outer-container;
  padding: 4rem 0;
}

.posts__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.posts-table {
  margin-top: 2rem;
}

.posts-table__col {
  text-align: left;

  &:nth-of-type(2) {
    text-align: center;
    width: 25%;
  }

  &:nth-of-type(3),
  &:nth-of-type(4) {
    text-align: center;
    width: 10%;
  }
}

.post__article {
  @include media($large-screen) {
    @include span-columns(8);
  }

  input[type="text"] {
    border: none;
    border-bottom: solid 1px $light-gray;
    font-size: $base-font-size * 2; 
    padding: 0.25rem;
  }

  textarea {
    min-height: em(600);
  }

  .button {
    margin-top: 2rem;
  }

  .card {
    text-align: center;

    img {
      // display: block;
    }
  }
}

.post__aside {
  padding-left: 2rem;

  @include media($large-screen) {
    @include span-columns(4);
  }

  .button {
    margin-top: 2rem;
  }
}
